.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcBody {
    display: flex;
    width: 450px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(113, 113, 113, 0.825);
    border-radius: 50px;
}

.title {
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 30px;
    padding: -30px;
    margin: 10px;
    color: white;
}

.calcScrn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    display: flex;
    font-size: 50px;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: right;
    align-items: center;
    width: 275px;
    background-color: lightgray;
    height: 70px;
    text-align: right;
}

.calcScrnTxt {
    margin: -10px;
}

.btnPad {   
    margin: 30px;
}

button {
    margin: 1px;
    width: 75px;
    height: 75px;
    border: 1px solid darkgray; 
    border-radius: 10px; 
}

button:active {
    background-color: darkgray;
}

.deleteBtn {
    width: 150px;
    color: white;
    background-color: red;  

}

.deleteBtn:active {
    color: white;
    background-color: maroon;
}

.clearEntryBtn {
    width: 150px;
    background-color: rgb(3, 152, 175);
}

.clearEntryBtn:active {
    background-color: rgb(0, 69, 69);
}